a{
    text-decoration: none;
}
header{
    background-color: rgb(163, 163, 240);
    position: absolute;
    width: 2800px;
    height: 76px;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
}

h1{position: absolute;
    left: 50px;
    top: 10px;
    color: white;
}
span{font-weight: 200;}
main{background-color: rgb(100, 100, 200);
    position: absolute;
    width: 2800px;
    height: 3000px;
    left: 0px;
    top: 80px;
}
p{position: absolute;
    width: 1500px;
    height: 100px;
    left: 5000;
    top: 40px;
    font-family: Jura;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: white;
}
.Start{position: absolute;
    width: 300px;
    height: 100px;
    left: 570px;
    top: 400px;
    font-family: Jura;
    font-weight: 400;
    font-size: 64px;
    color: white;
    border: 0px;
    border-radius: 40px;
    background-color: rgb(255, 204, 0);
}
.Start:hover{background-color: rgb(255, 215, 56);}