ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
main{font-family: Jura;
    font-weight: 400;
    color: white;}
header{
    background-color: rgb(163, 163, 240);
    position: absolute;
    width: 2800px;
    height: 76px;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
}

h1{position: absolute;
    left: 50px;
    top: 10px;
    color: white;
}
span{font-weight: 200;}
main{background-color: rgb(100, 100, 200);
    position: absolute;
    width: 2800px;
    height: 3000px;
    left: 0px;
    top: 80px;
}
p{position: absolute;
    width: 1500px;
    height: 100px;
    left: 5000;
    top: 40px;
    font-size: 64px;
    text-align: center;
    color: white;
}
ul{
    position: absolute;
    top: 250px;
    left: 550px;
    font-size: 42px;
}
